body {
  background-image: url("./images/books.jpg");
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Cardo', serif;
}

.nav {
  width: 100%
}

.navbar-brand {
  font-family: 'Cardo', serif;
}

.nav-link {
  font-family: 'Cardo', serif;
}

.container {
  width: 1600px;
  margin: auto;
}

.container-header {
  font-family: 'Cardo', serif;
  text-decoration: underline;
}

.jumbotron {
  width: 100%;
  margin-bottom: 0;
  display: flex;
  padding: 20px;
  font-family: 'Cardo', serif;
  background-color: white;
}

.jumbotron-image {
  height: 250px;
  margin-right: 50px;
}

.jumbotron-heading {
  display: flex;
  font-size: 50px;
  align-items: center;
  margin-right: auto;
  font-family: 'Cardo', serif;
  color: darkred;
  text-decoration: underline;
}

.jumbotron-subheading {
  font-family: 'Cardo', serif;
  display: flex;
  align-items: flex-end;
  font-size: 25px;
  font-weight: 400;
  color: darkred;
}

.card {
  font-family: 'Cardo', serif;
  color: yellow;
  text-decoration: underline;
  background-color: blanchedalmond;
  border-radius: 5px;

}

.card-header {
  font-family: 'Cardo', serif;
  background-color: darkred;
}

.table {
  background-color: blanchedalmond;
  border-radius: 5px;
}

th {
  font-size: 20px;
}

.book-input {
  display: inline-block;
  height: 50px;
  width: 60%;
}

.search-btn {
  height: 50px;
  width: 25%;
  float: right;
  font-family: 'Cardo', serif;
  font-size: 25px;
  color: black;
}

.list-button {
  padding: 20px 0px 20px 0px;
  width: 170px;
  margin: 15px auto;
  font-family: 'Cardo', serif;
  color: black;
}

.list-button-div {
  display: flex;
  flex-direction: column;
  height: 200px;
}

.cover {
  height: 180px;
  width: auto;
}

.description {
  overflow: auto;
}

@media only screen and (max-width: 1600px) {
  .container {
    width: 100%;
    padding: 0;
  }

  .jumbotron {
    width: 100%;
    flex-direction: column;
    align-items: center;
}

  .jumbotron-image {
    width: auto;
    height: 250px;
    display: flex;
    margin: auto;
}

  .hide {
    display: none;
  }

  .table {
    max-width: 100%;
  }
}